@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
*{
    font-family: "Josefin Sans", sans-serif;
}
body{
    margin: 0;
    padding: 0;
    transition: opacity 0.3s ease-in;
    -webkit-tap-highlight-color: transparent;
    background-color: gainsboro;
}
#upper-box{
    width: 100%; 
    height: max-content; 
    position: fixed; 
    justify-content: center;
    align-items: center;
    background-color: #393939;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    padding-bottom: 15px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.logo{
    height: 30px;
}
.part-1{
    background-color: #252525;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    height: 30px;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}
.searchbox{
    background-color: transparent; 
    border: none; 
    width: 500px; 
    margin: 0; 
    outline: none; 
    font-size: medium;
}
.search-bar{
    background-color: #393939;
    border: 2px solid gray;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.category{
    background-color: transparent;
    position: relative;
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: center;
}
.option{
    background-color: #252525;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: white;
}
.top-btn{
    margin: 5px;
    padding: 5px;
}
button{
    cursor: pointer;
    font-size: medium;
}
#menu-btn {
    display: flex;
    position: relative;
    justify-content: space-around;
    border-radius: 13px;
    background-color: #252525;                
    /* #25252590 */
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100%;
    height: 40px;
    z-index: 10;
    bottom: 2px;
    overflow: hidden;
}
.menu-btn-lawer{
    display: flex;
    position: fixed;
    justify-content: space-around;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #393939;                
    /* #25252590 */
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    padding: 10px;
    width: 300px;
    height: 35px;
    z-index: 10;
    bottom: 0px;
    overflow: hidden;
}
#home, #about, #service, #contact{
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin: 0;
    color: black;
}
.part-2{
    background-color: #252525;
    padding: 15px;
    align-items: center;
    height: max-content;
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: none;
}
.searchbox2{
    background-color: transparent; 
    border: none; 
    width: 90%; 
    margin: 0; 
    outline: none; 
    font-size: medium;
}
.search-bar2{
    background-color: #393939;
    border: 2px solid gray;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 5px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
@media (max-width:900px){
    .part-1{
        display: none;
    }
    .part-2{
        display: block;
    }
    a{
    font-size: small;
    }
    .menu-btn-lawer{
        position: relative;
        width: 400px;
        max-width: 400px;
        min-width: 200px;
    }
    .logo{
        height: 20px !important;
    }
}